.wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: map-get($padding, 'small');
    padding-right: map-get($padding, 'small');
    max-width: map-get($width, 'max');
}