{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": {
          "version": 2
        },
        "modules": false,
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@theme": [
            "./"
          ]
        }
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "decoratorsBeforeExport": true,
        "version": "2021-12"
      }
    ],
    [
      "@babel/plugin-transform-class-properties"
    ]
  ]
}