{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": {
          "version": 2
        },
        "modules": false,
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@theme": [
            "./"
          ]
        }
      }
    ]
  ]
}
