{
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "extends": [
    "eslint-config-airbnb-base",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "globals": {
    "Drupal": "writable",
    "drupalSettings": "readonly",
    "jQuery": "readonly",
    "THEME_AS_CLI": "readonly",
    "THEME_DEBUG": "readonly",
    "THEME_DIST": "readonly",
    "THEME_ENVIRONMENT": "readonly",
    "THEME_LIBRARIES_OVERRIDES": "readonly",
    "THEME_LIBRARIES": "readonly",
    "THEME_PORT": "readonly",
    "THEME_STATIC_DIRECTORY": "readonly",
    "THEME_SPRITES": "readonly",
    "THEME_SRC": "readonly",
    "THEME_TEST_PHASE": "readonly",
    "THEME_WEBSOCKET_PORT": "readonly"
  },
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": false,
        "variables": false
      }
    ],
    "prettier/prettier": "error",
    "no-param-reassign": [
      2,
      {
        "props": false
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
