{#
  /**
  * Default page layout for a Drupal Page
  *
  * This is the default page template for the theme hook: `page` and has addtional Twig blocks to interchange data.
  * Sibling pages can define these blocks within this document to define additional elements.
  *
  * The current document is divided out into 3 Drupal specific regions: header, main & footer

  * - document_head - Renders any specified content within the head tag, you should use this block for scoped declarations
  * - document_before - Renders any specified content right at the <body> tag
  * - header - Renders the header region from the global header at: `templates/src/main/partials/header.twig`
  * - content - Renders the main content
  * - footer - Renders the footer region from the global footer at: `templates/src/main/partials/footer.twig`
  * - document_after - Renders any specified content right begore the </body> tag
  *
  * It's recommended to hook your code within these blocks instead of the region partials if you don't want to ovveride any HTML on a global scop
  *
#}

{% block document_head %}
  {% include "@harbor/src/main/utilities/loadcss.twig" with {
    cwd: theme_path,
    stylesheets: [
      '/templates/dist/pages/default/stylesheets/index.css'
    ]
  } %}
{% endblock %}

{% block document_before %}{% endblock %}

<div class="vertical-flow">
  <div class="vertical-flow__header">
    <div class="vertical-flow__wrapper">
      {% block header %}
        {% include "@harbor/src/main/partials/main-header.twig" with {
          header: page.header
        } %}
      {% endblock %}
    </div>
  </div>

  <div class="vertical-flow__main">
    <div class="vertical-flow__wrapper">
      {% block content %}
        {{ page.content }}
      {% endblock %}
    </div>
  </div>

  <div class="vertical-flow__footer">
    <div class="vertical-flow__wrapper">
      {% block footer %}
        {% include "@harbor/src/main/partials/main-footer.twig" with {
          footer: page.footer
        } %}
      {% endblock %}
    </div>
  </div>
</div>

{% block document_after %}{% endblock %}