{#
  /**
  * Default page layout for a Drupal Page
  *
  * This is the default page template for the theme hook: `page` and has addtional Twig blocks to interchange data.
  * Sibling pages can define these blocks within this document to define additional elements.
  *
  * The current document is divided out into 3 Drupal specific regions: header, main & footer
  * Each region has additional Twig blocks so we can overide every page that extends to this template file:
  *
  * - document_head - Renders the content within the head tag, you should use this block for scoped declarations
  * - document_before - Renders the content right at the <body> tag
  * - header_before - Renders the content before the header region
  * - header_after - Renders the content after the header region
  * - content_before - Renders the content before the footer region
  * - content_after - Renders the content after the content region
  * - footer_before - Renders the content before the footer region
  * - footer_after - Renders the content after the footer region
  * - document_after - Renders the content right begore the </body> tag
  *
  * It's recommended to hook your code within these blocks instead of the region partials, since regions are overriden globally.
  *
#}

{% block document_head %}{% endblock %}

{% block document_before %}{% endblock %}

<div class="vertical-flow">
  {% if page.header or block('header_before') or block('header_after') %}
    <div class="vertical-flow__header">
      {% block header_before %}{% endblock %}

      {{ page.header }}

      {% block header_after %}{% endblock %}

    </div>
  {% endif %}

  <div class="vertical-flow__main">
    {% block content_before %}{% endblock %}

    {{ page.content }}

    {% block content_after %}{% endblock %}
  </div>

  {% if page.header or block('footer_before') or block('footer_after') %}
    <div class="vertical-flow__footer">
      {% block footer_before %}{% endblock %}

      {{ page.footer }}

      {% block footer_after %}{% endblock %}
    </div>
  {% endif %}
</div>

{% block document_after %}{% endblock %}