.page {
    position: relative;

    &__header,
    &__footer {
        padding: map-get($padding, 'small');
    }

    &__header {
        background-color: get-setting($colors, 'body', 'light');
        box-shadow: map-get($box-shadow, z1);
    }

    &__content {
        margin-left: auto;
        margin-right: auto;
        max-width: map-get($width, 'max');
    }

    &__footer {
        background-color: get-setting($colors, 'body', 'dark');
    }
}