{#
  /**
  * Frontpage layout
  *
  * Example page for the document structure of the Harbor Theme
  * This template uses the general page layout.
  * Documentation of the available functions can be found at: ../default/page.html.twig
  *
#}

{% extends "@harbor/src/pages/default/layout/page.html.twig" %}

{% set context = {
  stylesheets: [
    '/templates/dist/pages/front/stylesheets/index.css',
    '/templates/dist/components/card/stylesheets/index.css',
    '/templates/dist/components/menu/stylesheets/index.css'
  ]
} %}


{% block content %}
  <div class="wrapper">
    {% embed "@harbor/src/components/card/index.twig" %}
      {% block card__main %}
        {{ page.content }}
      {% endblock %}
    {% endembed %}
  </div>
{% endblock %}