$padding: (
  small: 8px,
  base: 12px,
  large: 16px
);

$margin: (
  small: 12px,
  base: 18px,
  large: 32px
);

$border-radius: (
  small: 2px,
  base: 6px,
  large: 12px
);

$width: (
  min: 320px,
  max: 960px
);