{#
/**
 * @file
 * Default page layout for a Drupal Page
 * This is the default page template for the theme hook: `page` and has addtional Twig blocks to interchange data.
 * Sibling pages can define these blocks within this document to define additional elements.
 *
 * Regions:
 * The current document is divided out into 3 specific regions.
 *
 * - page.header: Items for the header region
 * - page.content: Items for the content region.
 * - page.footer: Items for the footer region
 *
 * Blocks:
 * Inherited Twig templates can use the following blocks for custom markup within each template.
 *
 * - document_head - Renders any specified content within the head tag. By default we load our stylesheets asynchronously.
 * - document_before - Renders any specified content right at the <body> tag
 * - header - Renders by default the page.header region
 * - content - Renders by default the page.content region
 * - footer - Renders by default the page.footer region
 * - document_after - Renders any specified content right before the </body> tag
*/
#}

{% block document_head %}
  {#
    Load all defined stylesheets asynchronously using the FG-Loadcss library.
    Other templates that inherit this base template can hook extra stylesheets
    by defining the corresponding files within: `context['stylesheets']`
  #}
  {% include "@harbor/src/main/partials/loadcss.twig" with {
    cwd: theme_path,
    stylesheets: [
      '/templates/dist/pages/default/stylesheets/index.css',
      '/templates/dist/components/card/stylesheets/index.css',
      '/templates/dist/components/menu/stylesheets/index.css'
    ]|merge(context.stylesheets|default([]))
  } %}

{% endblock %}

{% block document_before %}{% endblock %}

<div class="page">
  <div class="vertical-flow">
    <div class="vertical-flow__header">
      <div class="vertical-flow__wrapper">
          <header class="page__header">
            {% block header %}
              {% include "@harbor/src/pages/default/partials/header.twig" with {
                  content: page.header
              } %}
            {% endblock %}
          </header>
      </div>
    </div>

    <div class="vertical-flow__main">
      <div class="vertical-flow__wrapper">
        <section class="page__content">
          {% block content %}
            {% include "@harbor/src/pages/default/partials/content.twig" with {
              content: page.content
            } %}
          {% endblock %}
        </section>
      </div>
    </div>

    <div class="vertical-flow__footer">
      <div class="vertical-flow__wrapper">
        <footer class="page__footer">
          {% block footer %}
            {% include "@harbor/src/pages/default/partials/footer.twig" with {
                content: page.footer
            } %}
          {% endblock %}
        </footer>
      </div>
    </div>
  </div>
</div>

{% block document_after %}
  {% include "@harbor/src/main/partials/inline-svg-sprite-injector.twig" with {
    svg_sprite: theme_path ~ '/templates/dist/main/images/svg-sprite.svg',
  } %}
{% endblock %}