<header class="main__header">
  <div class="horizontal-flow horizontal-flow--center">
    <div class="horizontal-flow__aside">
      <div class="branding"></div>
    </div>
    <div class="horizontal-flow__main">
      {{ header }}
    </div>
  </div>
</header>