.branding {
    display: block;
    width: 30px;
    height: 34px;
    background-image: url('../images/branding.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}