{#
/**
 * Default Frontpage document layout for a Drupal Page
 *
#}

{# Inherit the HTML from the default Drupal page template #}
{% extends "@harbor/src/pages/base/page.html.twig" %}

{# Prepended twig block before the documents ends #}
{% block document_before %}{% endblock %}

{# Prepended twig block for region: header #}
{% block header_before %}
    <header class="app__header">
{% endblock %}

{# Appended twig block for region: header #}
{% block header_after %}
    </header>
{% endblock %}

{# Prepended twig block for region: content #}
{% block content_before %}
    <div class="wrapper">
{% endblock %}

{# Appended twig block for region: content #}
{% block content_after %}
    </div>
{% endblock %}

{# Prepended twig block for region: footer #}
{% block footer_before %}
    <footer class="app__footer">
{% endblock %}

{# Appended twig block for region: footer #}
{% block footer_after %}
    </footer>
{% endblock %}

{# Prepended twig block before the documents ends #}
{% block document_after %}{% endblock %}