.card {
    position: relative;
    background-color: get-setting($colors, block, light);
    box-shadow: map-get($box-shadow, z1);
    border-radius: map-get($border-radius, 'base');
    padding: map-get($padding, 'base');
    margin-top: map-get($margin, 'base');
    margin-bottom: map-get($margin, 'base');

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}